.appContent {
  margin: 70px 0; // for fixed navbar
  position: relative;
}

.placeholder {
  width: 100%;
  height: 350px;
  border-width: 1px;
  border-style: dotted;
}


// find best combination of screen size / control size
@media screen and (min-height: 600px) {
  .placeholder {
    height: 350px;
  }
}

@media screen and (min-height: 700px) {
  .placeholder {
    height: 450px;
  }
}

@media screen and (min-height: 800px) {
  .placeholder {
    height: 550px;
  }
}

@media screen and (min-height: 900px) {
  .placeholder {
    height: 650px;
  }
}

@media screen and (min-height: 1000px) {
  .placeholder {
    height: 750px;
  }
}

@media screen and (min-height: 1100px) {
  .placeholder {
    height: 850px;
  }
}

@media screen and (min-height: 1200px) {
  .placeholder {
    height: 950px;
  }
}

@media screen and (min-height: 1300px) {
  .placeholder {
    height: 1050px;
  }
}

@media screen and (min-height: 1400px) {
  .placeholder {
    height: 1150px;
  }
}

@media screen and (min-height: 1500px) {
  .placeholder {
    height: 1250px;
  }
}

.default_template {
	width: 80px;
	height: 80px;

	.background {
		top: 2px;
		left: 2px;
		width: 76px;
		height: 20px;

		.title {
		top: 3px;
		left: 6px;
		width: 68px;
		height: 16px;
		}
	}

	.photo_frame {
		top: 26px;
		left: 2px;
		width: 25px;
		height: 30px;

		.photo {
		height:30px;
		width:25px;
		}
	}
}

.contact_template {
  width: 220px;
  height: 120px;

  .background {
    top: 2px;
    left: 2px;
    width: 216px;
    height: 20px;

    .title {
      top: 3px;
      left: 6px;
      width: 208px;
      height: 18px;
    }
  }

  .photo_frame {
    top: 26px;
    left: 2px;
    width: 50px;
    height: 60px;

    .photo {
      height:60px;
      width:50px;
    }
  }

  .phone {
    top: 26px;
    left: 56px;
    width: 162px;
    height: 18px;
    font-size: 12px;
  }

  .email {
    top: 44px;
    left: 56px;
    width: 162px;
    height: 18px;
    font-size: 12px;
  }

  .description {
    top: 62px;
    left: 56px;
    width: 162px;
    height: 36px;
    font-size: 12px;
  }
}

.direct_template {
	width: 160px;
	height: 80px;

	.background {
		top: 2px;
		left: 2px;
		width: 156px;
		height: 20px;

		.title {
		top: 3px;
		left: 6px;
		width: 148px;
		height: 16px;
		}
	}

	.photo_frame {
		top: 26px;
		left: 2px;
		width: 25px;
		height: 30px;

		.photo {
		height:30px;
		width:25px;
		}
  }

  .description {
    top: 26px;
    left: 36px;
    width: 100px;
    height: 46px;
    font-size: 12px;
  }
}